<div class="row" style="margin-top: 10px;">
  <div class="col s12">
    <a class="waves-effect waves-light btn blue right" href="/kontak/tambah">tambah Kontak</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    {{#if kontak}}
    <ul class="collection">
      {{#each kontak}}
      <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <span class="title">{{namaDepan}} {{namaBelakang}}</span>
        <p>{{noHp}}</p>
        <p>{{email}}</p>
        <div class="secondary-content">
          <a href="/kontak/detail/{{id}}" class="btn-floating btn-tiny waves-effect waves-light info">
            <i class="material-icons">remove_red_eye</i>
          </a>
          <a href="/kontak/ubah/{{id}}" class="btn-floating btn-tiny waves-effect waves-light indigo">
            <i class="material-icons">edit</i>
          </a>
          <a href="/kontak/hapus/{{id}}?_method=DELETE" class="btn-floating btn-tiny waves-effect waves-light red">
            <i class="material-icons">delete</i>
          </a>
        </div>

      </li>
      {{/each}}
    </ul>

    {{else}}
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Belum ada kontak</p>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>